.mainTitle {
    margin-top: 5px;
    text-align: center;
}

.buttonNav {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.navbuttons {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1.5em;
}

.buttonReminder {
    margin-top: 40px;
    text-align: center;
}

.openOrdersBody {
    width: 80%;
    margin: auto;
}

.close_order{
    color: #5cb85c
}

.loginBtn {
    margin-top: 10px;
}