.mainTitle {
    margin-top: 5px;
    text-align: center;
}

.buttonNav {
    text-align: center;
    margin-top: 15px;
}

.navbuttons {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1.5em;
}