<div class="openOrdersBody">
        <h1 class="mainTitle">Welcome to the orders administration panel!</h1>
        <div class="buttonNav">
            <a href="#!/open_orders" class="btn btn-primary navbuttons">Open orders</a>
            <a href="#!/closed_orders" class="btn btn-primary navbuttons">Closed orders</a>
            <a href="" class="btn btn-primary navbuttons">New order</a>
        </div>    
        <h3>Closed orders table</h3>
        <table class="table">
            <tr>
                <th>Order id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Items</th>
                <th>Price</th>
                <th>Open order</th>
            </tr>
            <tr ng-repeat="order in closedOrdersCtrl.orders.data.data">
                <td>{{order.id}}</td>
                <td>{{order.fullname}}</td>
                <td>{{order.address}}</td>
                <td>{{order.items}}</td>
                <td>{{order.price}}</td>
                <td><a href="" ng-click="closedOrdersCtrl.openOrder(order.id)"><i class="material-icons close_order">check</i></a></td>
            </tr>
    
        </table>
    </div>