 <div class="openOrdersBody">
    <div navbar-directive></div>
    <h3>Open orders table</h3>
    <table class="table">
        <tr>
            <th>Order id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Items</th>
            <th>Price</th>
            <th>Close order</th>
        </tr>
        <tr ng-repeat="order in openOrdersCtrl.orders.data.data">
            <td>{{order.id}}</td>
            <td>{{order.fullname}}</td>
            <td>{{order.address}}</td>
            <td>{{order.items}}</td>
            <td>{{order.price}}</td>
            <td><a href="" ng-click="openOrdersCtrl.closeOrder(order.id)"><i class="material-icons close_order">check</i></a></td>
        </tr>

    </table>
</div>